.G_Our_Latest_blog {
    max-width: 1240px;
    width: 100%;
    /* background-color: aquamarine; */
    /* padding: 0 20px; */
}

.G_cont_cont_Our_Latest_Blog{
  
    width: 100%;
    margin: 21px 0 113px 0;
}


.cont_Our_Latest_Blog{

width: 340px;

border: 1px solid green;
border-color: rgb(153, 51, 151) rgb(110, 13, 189) rgba(211, 14, 185, 0.683) rgb(142, 29, 148);
 padding: 24px 24px 37px 24px;
}
.O_L_B_2{
    margin: 35px 35px;

}

.cont_Our_Latest_Blog img{
border-radius: 5px;
}

.Admin{
  margin: 16px 0 24px 0;
 height: 19px;
}

.cont_Admin{
    width: 87px;

}

.cont_Admin p{
    color: #a31ecb;
}

.description_text{
    margin: 16px 0 25px;
}

.C_Read_More{
    width: 100%;
}

.C_Read_More button{
width: 119px;
height: 39px;
border-radius: 5px;
}

.C_Read_More_img{
    width: 104px;
}


