.G_Top_Galleries {
    max-width: 1240px;
    width: 100%;
    margin: 148px;


}


.Top_Galleries_cont {
    display: flex;
    justify-content: space-around;
 
    max-width: 1240px;
    width: 100%;
}


/* w388 h449 */
/*  w92 */

.Top_Galleries_block {
    border: 1px solid green;
    border-color: rgb(153, 51, 151) rgb(110, 13, 189) rgba(211, 14, 185, 0.683) rgb(142, 29, 148);

    width: 342px;
    height: 383px;
    padding: 24px 22px 40px 22px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Pictures {

    display: flex;
    justify-content: space-between;
    height: 80%;
}
.Pictures-img {
    width: 66%;
    height: 100%;
}
.Pictures-img img{
    width: 100%;
    height: 100%;
}
.img_3 {
 
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img_3 img{
    width: 100%;
}
.Top_Galleries_text {
   
    height: 15%;
    /* margin-top: 24px; */
    /* height: 61px; */
}
.Top_Galleries_text_block  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* 
.Top_Galleries_block_center {
    margin: 0 37.5px;
    max-width: 342px;
    width: 100%;
}

.G_Top_Galleries h1 {
    margin-bottom: 80px;
}





.imgPic {
    max-width: 232px;
    width: 100%;
}




.small_pic {
    max-width: 92px;
    width: 100%;
}

.imgPic_2 {
    margin: 16px 0;
} */







.See_all {
    width: 119px;
    height: 54px;
    border-radius: 5px;
    margin-top: 48px;
}


@media only screen and (max-width:1239px) {
    .Top_Galleries_block_center {
        margin: 0;
    }

    .Top_Galleries_block {
        margin: 19px;
    }

}

@media only screen and (max-width:501px) {
    .G_Top_Galleries {
        margin-left: 0;
        margin-right: 0;
    }
}